{% extends "main/base.html" %}

{% block content %}
<section
    class="assessment"
    x-data="{
        ...assessment(
            document.getElementById('audioClip'), 
            document.getElementById('id_recording')
        ),
        uiState: 'start',
        currentIndex:{{current_index}},
        sentenceCount:{{sentence_count}},
        isLastSentence: {{current_index}} === {{sentence_count}}-1,
    }"
    >
    <div class="container">
        <div class="assessment-card">
            <div class="__question-index">{{current_index|add:1}}</div>
            <div class="__instruction_box">
                <p class="__instruction">
                    Read the sentence out loud:
                </p>
            </div>
            <div class="__sentence_box">
                <p>{{sentence.sentence}}</p>
            </div>
            <button
                id="record"
                class="button-accent __action_button"
                x-on:click="
                    onStart();
                    uiState = 'recording';
                    "
                x-show="uiState==='start'"
                >
                    <i class="fa-solid fa-microphone"></i>
                    &nbsp;Record Pronunciation
            </button>
            <div
                class="__recording_progress"
                x-show="uiState==='recording'">
                Recording&nbsp;
                <i class="fa-solid fa-signal fa-beat-fade"></i>
            </div>
            <button
                id="stop"
                class="button-primary __action_button"
                x-on:click="
                    onStop()
                    uiState = 'recorded';
                "
                x-show="uiState==='recording'"
                >
                    <i class="fa-solid fa-circle-stop"></i>
                    &nbsp;Stop Recording
            </button>
            <button
                id="record-again"
                class="button-accent __action_button"
                x-on:click="
                    onStart();
                    uiState = 'recording';"
                x-show="uiState==='recorded'"
                >
                    <i class="fa-solid fa-microphone"></i>
                    &nbsp;Record Again
            </button>
            <form
                :action="isLastSentence ?
                        '{% url  'main:finish_assessment' %}'
                        :'{% url  'main:next' %}'"
                method="POST"
                enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form_wrapper">
                    {{ form }}
                </div>
                <button
                    class="button-primary __action_button"
                    type="submit" 
                    x-show="uiState==='recorded'">
                        <i class="fa-solid fa-circle-right"></i>
                        &nbsp;Next Sentence
                </button>
            </form>
            <div
                class="player-block"
                x-show="uiState==='recorded'"
                >
                <p class="__player_instruction">
                    Check Your Recording:
                </p>
                <article class="__player">
                    <audio
                        id="audioClip"
                        >
                    </audio>
                </article>
            </div>
        </div>
    </div>
</section>
{% endblock content %}

{% block script %}
<script>

</script>
{% endblock %}
