{% extends "main/base.html" %}

{% block content %}
<div x-data="{
        uiState:'start',
        currentIndex:{{current_index}},
        sentenceCount:{{sentence_count}},
        ...mainInit()
    }">
    <button
        id="record"
        x-on:click="uiState='recording'"
        x-show="uiState=='start'"
        >
            record
    </button>
    <button
        id="stop"
        x-on:click="uiState='recorded'"
        x-show="uiState=='recording'"
        >
            stop recording
    </button>
    <button
        id="record-again"
        x-show="uiState=='recorded'"
        >
            record again
    </button>
    <li>{{ sentence.id }}</a></li>
    <li>{{ sentence.sentence }}</a></li>
    <li>{{ sentence.sound_path }}</a></li>
    <li x-text="uiState"></li>
    <form action="{% url  'main:next' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <input type="submit" 
            x-show="uiState=='recorded' && currentIndex!==sentenceCount-1">
    </form>
    <div class="sound-clips"></div>
    <a
        href="{% url 'main:finish_assessment' %}"
        x-show="currentIndex == sentenceCount-1 && uiState == 'recorded'"
    >
        result
    </a>
</div>
{% endblock content %}

{% block script %}
{% load static %}
<script src="{% static 'main/test.js' %}"></script>
{% endblock %}
