<!DOCTYPE html lang="en">
<head>
    <title>pronuncii</title>
    {% comment %}
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script defer src="{% static 'main/alpine.min.js' %}"></script>
    {% endcomment %}

    {% load static %}
    <script defer src="{% static 'index-bundle.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
{% include "main/header.html" %}
<body>
{% block content %}
    test content
{% endblock %}
</body>

{% block script %}
{% endblock %}
