@use '../vars'
@use '../common'
@use './main-common'

.main-result
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

  .hero
    width: 100%
    display: block

    .hero__container
      padding-left: 0px
      position: relative

      .hero__image
        width: 100%
        max-width: vars.$bp-md

      .hero__title
        margin: 0px
        position: absolute
        top: 30%
        left: 2rem
        transform: translate(0%, -50%)
        color: vars.$color-white
        @include common.text-4xl
        @include common.font-header

  .result-board
    margin-top: 2rem
    margin-bottom: 2rem
    display: flex
    flex-direction: column
    align-items: center
    text-align: center

    .result-sentence
      width: 80%
      background-color: vars.$color-white
      margin-top: 2rem
      margin-bottom: 2rem
      position: relative
      padding: 1.5rem
      @media(min-width: vars.$bp-sm) and (max-width: vars.$bp-lg)
        width: 70%
      @media (min-width: vars.$bp-lg)
        width: 50%


      .result-sentence__result-base
        margin-bottom: 1.5rem
        @include common.font-header
        @include common.text-3xl
        @media (max-width: vars.$bp-sm)
          @include common.text-2xl

      .result-sentence__correct
        @extend .result-sentence__result-base
        color: vars.$color-accent

      .result-sentence__wrong
        @extend .result-sentence__result-base
        color: vars.$color-secondary

      .result-sentence__q-index
        // position
        @include main-common.sentence-index

      .result-sentence__sentence
        @include main-common.sentence-box

      .result-sentence__description
        width: 100%
        text-align: left
        @include common.text-lg

      .result-sentence__player
        audio::-webkit-media-controls-panel
          background-color: vars.$color-light-gray


    .back-button
      @include common.text-xl
