@use 'main/main'
@use 'vars'
@use 'common'
@use 'container'

@font-face 
  font-family: "Jaldi"
  src: url("../fonts/Jaldi-Bold.ttf")

html
  font-family: Arial, sans-serif
  -ms-text-size-adjust: 100%
  -webkit-text-size-adjust: 100%
  background-color: vars.$color-base
  color: vars.$color-text

body
  margin: 0

